@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


ul li:before {
    content: " \27A3";
    margin-right: 0.5em;
}