<div 
    class="app-window__title p-2 text-lg border-b-2 border-gray-400 {{if @isDragging "cursor-grabbing" "cursor-grab"}}"
    ...attributes
>
    <div class="flex shadow-black text-shadow">
        <span>{{yield}}</span>
        <span class="flex-auto"></span>
        <button 
            class="shadow-black text-shadow" 
            type="button"
            title="Close window"
            {{on "click" (optional @onClose)}}
        >❌</button>
    </div>
</div>