<span style="flex-grow:1;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
    <span style="min-width: 2ch;text-align:right;display:inline-block;">{{@card.count}}</span>&nbsp;<span style="text-decoration:underline">{{this.cardName}}</span>
</span> 