.desktop.bg-marble-green {
    background-image: url("/marble_green_1.png");
}

.desktop.bg-marble-black {
    background-image: url("/marble_black_1.png");
}

.desktop.bg-clouds {
    background-image: url("/clouds.png");
}

.desktop.bg-stars {
    background-image: url("/stars01.gif");
}

.desktop.bg-cyber-lancer {
    background-image: url("/cyber_lancer.png");
    /* background-size: cover; */
    background-position: center;
    image-rendering: pixelated;
}

.desktop.bg-crystalline-plain {
    background-image: url("/crystalline_plain.png");
    /* background-size: cover; */
    background-position: center;
}

.desktop.bg-digital-transcendence {
    background-image: url("/digital_transcendence.png");
    /* background-size: cover; */
    background-position: center;
}

.desktop.bg-nuclease {
    background-image: url("/nuclease.jpg");
    /* background-size: cover; */
    background-position: center;
}

.desktop.bg-snow-1 {
    background-image: url("/snow_bg.gif");
}

.desktop.bg-snow-2 {
    background-image: url("/snow.gif");
}

.desktop__icon {
    max-width: 75px;
}

.desktop__icon-text {
    min-height: 3rem;
}