<AppWindow 
    @title="ðŸª Web Ring"
    @app={{@app}}
>
    <div class="p-2 text-white font-mono">
        {{#let "mb-4 text-lg max-w-prose text-shadow shadow-slate-800" as |pStyle|}}
            <p class={{pStyle}}>Check out these cool pages! Some belong to my friends, others I just think are neat. Want to be part of my web ring? If you have your own site that exists outside of a social platform, get it touch!</p>
            <ul class="{{pStyle}} pl-2">
                <li><ExternalLink @href="https://modusinteractivegames.com/">Modus Interactive Games</ExternalLink></li>
                {{!-- <li><ExternalLink @href="https://warrrkus.itch.io/">Warkus Computer Entertainment</ExternalLink></li>--}}
                <li><ExternalLink @href="https://tlalicedev.github.io/">Alice Dev</ExternalLink></li>
                <li><ExternalLink @href="http://largoinfinite.com/">Largo Infinite: Stuff created by Z. Bill</ExternalLink></li>
                <li><ExternalLink @href="https://terradev64.github.io/">Terra Dev 64</ExternalLink></li>
                <li><ExternalLink @href="https://www.brycebucher.net/">Bryce Bucher</ExternalLink></li>
                <li><ExternalLink @href="https://xena-spectrale.net/">Xena Spectrale</ExternalLink></li>
                <li><ExternalLink @href="https://hauntedps1.itch.io/">The Haunted PS1</ExternalLink></li>
                <li><ExternalLink @href="https://yorped.com/horrorgifs/index.html">The Horror GIF Necronomicon</ExternalLink></li>
                <li><ExternalLink @href="https://archive.org/details/software">Internet Archive: Software</ExternalLink></li>
                <li><ExternalLink @href="https://gifcities.org/">GifCities</ExternalLink></li>
                <li><ExternalLink @href="https://developer.mozilla.org/en-US/docs/Web">MDN Web Docs</ExternalLink></li>
                <li><ExternalLink @href="https://www.macintoshrepository.org/">Macintosh Repository</ExternalLink></li>
            </ul>
        {{/let}}
    </div>
</AppWindow>